/* section display */
.hidden {
 display: none;
}
/* everything */
* {
    font-family: sans-serif;
}
/*header*/
header {
    padding: 0 15px;
    background-color: cadetblue;
}
/* nav  */
nav {
    background-color:cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

nav a:hover {
    cursor: pointer;
    color:darkslateblue;
}
/* body */
body {
    background-color: rgb(222, 222, 222);
}

main {
    margin: 5%;
    padding: 5%;
}
/* headers */
h1, h2, h3 {
    padding: 0 10px;
    font-size: 35px;
    background-color: cadetblue;
}

p {
    font-size: 30px;
    line-height: 1.5;
}
/* choices */
ul {
    list-style: none;
}
/* all buttons */
button:hover {
    color:black;
    background-color: lightcoral;
}

button {
    border-radius: 10px;
    border-width: 3px;
    font-size: 20px;
    padding: 5px 10px;
    background-color:lightpink;
    color: black;
}
/* score list */
#scorelist {
    font-size: 20px;
    font-family: sans-serif;
}
/* leaderboard page */
#highscores {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* enter initial page */
#scoreinput {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Answers */
#correct {
    font-style: italic;
    text-decoration: overline;
    font-size: 30px; 
}

#incorrect {
    font-style: italic;
    text-decoration: overline;
    font-size: 30px;
}