.hidden {
 display: none;
}

* {
    font-family: sans-serif;
}

nav {
    background-color:lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

nav a:hover {
    cursor: pointer;
    color:darkslateblue;
}

main {
    margin: 5%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 35px;
    background-color: cadetblue;
}

p {
    font-size: 30px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

button:hover {
    color:black;
    background-color: lightcoral;
}

button {
    border-radius: 10px;
    border-width: 3px;
    font-size: 20px;
    padding: 5px 10px;
    background-color:lightpink;
    color: black;
}

#scorelist {
    font-size: 20px;
    font-family: sans-serif;
}

